* {
    margin: 0px;
    padding: 0px;
}

#textbox {
    position: sticky;
    height: 97vh;
    width: 100%;
}

#status-bar {
    position: fixed;
    height: 18px;
    width: 100%;
    margin-bottom: 0px;
    background-color: rgb(218, 218, 218);
    display: static;
}

