* {
    margin: 0px;
    padding: 0px;
}

#textbox {
    height: 96vh;
    width: 100%;
    overflow-x: hidden;
}

#status-bar {
    overflow: hidden;
    position: fixed;
    height: 26px;
    width: 100%;
    margin-bottom: 0px;
    background-color: rgb(218, 218, 218);
    display: flex;
}


